@import "./../common";

.wrapper {
    background-color: $light-color;
    @extend %wrapper;
    font-weight: lighter;
    text-transform: $uppercase;
    color: $second-light-color;
}

.name {
    @extend %title;
}

.number {
    font-size: 15rem;
}
