.wrapper {
  background-color: #38cec4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 5rem 0;
  font-weight: lighter;
  text-transform: uppercase;
  color: white;
}

.name {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.number {
  font-size: 15rem;
}
