@import "./../settings/common";
@import "./../settings/theme";

.wrapper {
    @extend %wrapper;
    background-color: $primary-light-color;
    & > * {
        font-weight: lighter;
        text-transform: uppercase;
        color: $secondary-light-color;
    }
}

.name {
    @extend %title;
}

.number {
    font-size: $font-size-value * 15;
}
