@import "./../common";
.wrapper {
    @extend %wrapper;
    @extend %flex-center;
}

.title {
    @extend %title;
    font-weight: bold;
    text-transform: $uppercase;
    color: $dark-color;
}

.row {
    @extend %row;
}

.box {
    @extend %container;
}

.dayName {
    text-transform: $uppercase;
    color: $day-name-color;
}
