@import "./../common";
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #009991;
}

.row {
    display: flex;
}

.box {
    @extend %container;
}

.dayName {
    text-transform: uppercase;
    color: #eb1b57;
}
